.hero{
    display: flex;
    background-color: rgb(162, 136, 186);
    color: rgb(1, 1, 10);
    height: 92vh;
    padding-inline: 40px;
}

.hero-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.hero-text{
    font-size: 4rem;
    margin-bottom: 10px;
    word-spacing: 1%;
}

.hero-desc{
    font-size: 1.6rem;
    max-width: 400px;
    margin-bottom: 20px;
}

.hero-image{
    flex: 1;
    background: url('images/Homeb.png') center;
    background-size: 80%;
    background-repeat: no-repeat;
}